.charts {
    background-color: var(--theme);
    fill: var(--text);
    font-family: Verdana, sans-serif;
    font-size: 100%;
    opacity: 0.9;
}

.axis path,
.axis line {
    fill: none;
    stroke: var(--text);
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.axis-grid line {
    fill: none;
    stroke: lightgray;
    stroke-width: 1;
}
.axis text {
    fill: none;
    stroke: var(--text);
}
.axis {
    fill: none;
    stroke: var(--text);
}
.x_axis {
    fill: none;
    stroke: var(--text);
}
.y_axis {
    fill: none;
    stroke: var(--text);
}